USE [master]
GO
/****** Object:  Database [ElClavoOxidado]    Script Date: 18/6/2017 4:17:13 p. m. ******/
CREATE DATABASE [ElClavoOxidado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElClavoOxidado', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS1\MSSQL\DATA\ElClavoOxidado.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ElClavoOxidado_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS1\MSSQL\DATA\ElClavoOxidado_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElClavoOxidado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElClavoOxidado]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 18/6/2017 4:17:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] NOT NULL,
	[Usuario] [nvarchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Tipo] [nvarchar](50) NULL,
	[Actividad] [nvarchar](500) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Familia]    Script Date: 18/6/2017 4:17:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FamiliaPatente]    Script Date: 18/6/2017 4:17:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPatente](
	[Familia] [int] NOT NULL,
	[Patente] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaPatente] PRIMARY KEY CLUSTERED 
(
	[Familia] ASC,
	[Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patente]    Script Date: 18/6/2017 4:17:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Pagina] [nvarchar](50) NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 18/6/2017 4:17:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [nvarchar](16) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](16) NULL,
	[Familia] [int] NULL,
	[Bloqueado] [bit] NULL,
	[Cant_Bloqueos] [int] NULL,
	[Ultimo_intento] [datetime] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (1, N'Webmaster')
INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (2, N'Administrador')
INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (3, N'Usuario')
INSERT [dbo].[Usuario] ([Id], [Email], [Password], [Familia],[Bloqueado],[Cant_Bloqueos],[Ultimo_intento]) VALUES (N'FacuTripelhorn', N'facundo.tripelhorn@gmail.com', N'123456', 1,0,0,CONVERT(DATE,'2017-06-18 21:00:00.000'))
INSERT [dbo].[Usuario] ([Id], [Email], [Password], [Familia],[Bloqueado],[Cant_Bloqueos],[Ultimo_intento]) VALUES (N'Juanito', N'juanito@gmail.com', N'123456', 3,0,0,CONVERT(DATE,'2017-06-18 21:00:00.000'))

CREATE PROCEDURE sp_ObtenerUser 
@Usuario nvarchar(50),
@Pass nvarchar(50)
AS
DECLARE @IsValid int
SET @IsValid = 0

IF (Select Password FROM usuario where id = @Usuario) = @Pass
SET @IsValid = 1

Select id as "Usuario", @IsValid as "IsValid", Bloqueado, Cant_Bloqueos, Ultimo_intento, Familia
FROM usuario 
where id = @Usuario

USE [master]
GO
