p#QuienesSomos {
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#AboutSection {
    padding-left: 10px;
    margin-left:15%;
    background-color: lightgoldenrodyellow;
    width: 80%;
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 20px;
}